@import url(../var.css);


.center-element{
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.img-pesa{
    width: 200px;
    margin-bottom: 50px;
    transition: width 0.4s;
    &:hover{
            cursor: pointer;
            width: 240px;
    }
}